html, body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.page-title {
  font-family: 'Bebas Neue', serif; 
  font-size: 2.5rem;                
  font-weight: 700;                       
  text-align: center;                     
  color: "black";                           
  margin-top: 40px;                       
  margin-bottom: 30px;                    
  letter-spacing: 1px;                   
  text-transform: uppercase;             
}

#vis {
  width: 70%;
  height: 1200px; 
}

.vis-container {
  display: flex;
  flex-direction: column;      
  align-items: center;           
  justify-content: center;       
  height: 100vh;               
  gap: 40px;                     
}

.vega-bindings {
  display: flex;
  justify-content: center;  
  margin-bottom: 10px;
}